In [1]:
import pandas as pd
import acquire

In [2]:
df = acquire.new_world_data()

In [3]:
df.head()

,Code,countryname,Continent,Region,SurfaceArea,countrypopulation,LifeExpectancy,GNP,cityname,citypopulation
0,ABW,Aruba,North America,Caribbean,193.0,103000,78.4,828.0,Oranjestad,29034
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,22720000,45.9,5976.0,Kabul,1780000
2,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,22720000,45.9,5976.0,Qandahar,237500
3,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,22720000,45.9,5976.0,Herat,186800
4,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,22720000,45.9,5976.0,Mazar-e-Sharif,127800

In [4]:
df.shape

(4079, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Code               4079 non-null   object
 1   countryname        4079 non-null   object
 2   Continent          4079 non-null   object
 3   Region             4079 non-null   object
 4   SurfaceArea        4079 non-null   float64
 5   countrypopulation  4079 non-null   int64
 6   LifeExpectancy     4068 non-null   float64
 7   GNP                4079 non-null   float64
 8   cityname           4079 non-null   object
 9   citypopulation     4079 non-null   int64
dtypes: float64(3), int64(2), object(5)
memory usage: 318.8+ KB

In [10]:
df.drop('Code', axis=1, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   countryname        4079 non-null   object
 1   Continent          4079 non-null   object
 2   Region             4079 non-null   object
 3   SurfaceArea        4079 non-null   float64
 4   countrypopulation  4079 non-null   int64
 5   LifeExpectancy     4068 non-null   float64
 6   GNP                4079 non-null   float64
 7   cityname           4079 non-null   object
 8   citypopulation     4079 non-null   int64
dtypes: float64(3), int64(2), object(4)
memory usage: 286.9+ KB

In [14]:
null = df[df.LifeExpectancy.isnull()]

In [15]:
null.shape

(11, 9)

In [16]:
null

,countryname,Continent,Region,SurfaceArea,countrypopulation,LifeExpectancy,GNP,cityname,citypopulation
496,Cocos (Keeling) Islands,Oceania,Australia and New Zealand,14.0,600,NaN,0.0,Bantam,503
497,Cocos (Keeling) Islands,Oceania,Australia and New Zealand,14.0,600,NaN,0.0,West Island,167
983,Christmas Island,Oceania,Australia and New Zealand,135.0,2500,NaN,0.0,Flying Fish Cove,700
1251,Falkland Islands,South America,South America,12173.0,2000,NaN,0.0,Stanley,1636
2689,Norfolk Island,Oceania,Australia and New Zealand,36.0,2000,NaN,0.0,Kingston,800
2758,Niue,Oceania,Polynesia,260.0,2000,NaN,0.0,Alofi,682
2874,Pitcairn,Oceania,Polynesia,49.0,50,NaN,0.0,Adamstown,42
3387,Svalbard and Jan Mayen,Europe,Nordic Countries,62422.0,3200,NaN,0.0,Longyearbyen,1438
3456,Tokelau,Oceania,Polynesia,12.0,2000,NaN,0.0,Fakaofo,300
3938,Holy See (Vatican City State),Europe,Southern Europe,0.4,1000,NaN,9.0,Città del Vaticano,455
4006,Wallis and Futuna,Oceania,Polynesia,200.0,15000,NaN,0.0,Mata-Utu,1137

In [17]:
df.dropna(inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4068 entries, 0 to 4078
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   countryname        4068 non-null   object
 1   Continent          4068 non-null   object
 2   Region             4068 non-null   object
 3   SurfaceArea        4068 non-null   float64
 4   countrypopulation  4068 non-null   int64
 5   LifeExpectancy     4068 non-null   float64
 6   GNP                4068 non-null   float64
 7   cityname           4068 non-null   object
 8   citypopulation     4068 non-null   int64
dtypes: float64(3), int64(2), object(4)
memory usage: 317.8+ KB

In [19]:
df = df.rename(columns={'Region': 'region', 'SurfaceArea': 'surfacearea', 'LifeExpectancy': 'lifeexpectancy', 'GNP': 'gnp'})

In [21]:
df = df.rename({'Continent': 'continent'})